#
# This file keeps track of all the python packages and versions that will be installed in your Service.
matplotlib==3.10.3
voila==0.5.8
ipyevents==2.0.2
ipympl==0.9.7
jupyterlab==4.4.5
jupyter-collaboration==4.1.0
jupyter-collaboration-ui==2.1.0
jupyterlab-git==0.51.2
jupyterlab-latex==4.3.0
jupyterlab-lsp==5.2.0
python-lsp-server==1.13.0

## SCKAN-specific requirements
rdflib==7.1.4
pyontutils==0.1.38
neurondm==0.1.8